.dropZone {
    min-width: 200px;
    width: 20%;
    height: 400px;
    background: chocolate;
    border: dotted 6px brown;
    margin-bottom: 3px;
    text-align: center;
}

.dropZone p {
    text-align: center;
    height: 30px;
    margin: 0px;
    font: 20px Helvetica, sans-serif;
}

.srcPreviewCanvasDiv {
    height: 330px
}

.srcPreviewCanvas {
    max-width: 200px;
    max-height: 330px;
    position: absolute;
}
